.usestate {
    position: absolute;
    top: 0;
    background-color: rgb(42, 41, 41);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: bisque;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 10px;
}

.usestate .area .btn1{
    padding: 0.4rem 2rem;
    font-size: 1.5rem;
    border: none;
    border: 1px solid bisque;
    transition: 0.5s;
    color: bisque;
    background-color: transparent;
}
.usestate .area .btn1:hover{
    background-color: bisque;
    color: black;
}